{% set molecules = allMolecules() %}

<nav class="site-nav" aria-label="Navigation principale">
    <div class="site-nav__inner">

        <div class="site-nav__brand">
            <a href="https://www.psychoactif.org" class="site-nav__brand-psychoactif" target="_blank">
                <img src="https://www.psychoactif.org/images/banniere_psychoactif5.png" alt="Logo Psychoactif">
            </a>
        </div>

        <div class="site-nav__brand">
            <a href="/" class="site-nav__brand-logo">
                <img src="{{ asset('imgs/logo.svg') }}" alt="Logo Psychotopia">
            </a>
        </div>

        <button class="site-nav__toggle" type="button" aria-expanded="false" aria-controls="primaryNavMenu" data-nav-toggle>
            Menu
        </button>

        <ul class="site-nav__menu" id="primaryNavMenu" data-nav-menu>
            
            <li class="site-nav__item">
                <a class="site-nav__link" href="{{ path('app_home') }}">Accueil</a>
            </li>
            
            <li class="site-nav__item">
                <a class="site-nav__link" href="{{ path('app_samples') }}">Echantillons</a>
            </li>

            <li class="site-nav__item">
                <a class="site-nav__link" href="{{ path('app_supply') }}">Modes d'approvisionnement</a>
            </li>

            <li class="site-nav__item">
                <button class="site-nav__dropdown-toggle" type="button" aria-expanded="false" aria-controls="nav-purity" data-nav-dropdown="#nav-purity">
                    Molécules
                </button>
                <div class="site-nav__dropdown" id="nav-purity">
                    {% for molecule in molecules  %}
                        {% set analysisRoute = molecule.hasContentAnalysis ? 'app_content' : 'app_purity' %}
                        <a class="site-nav__dropdown-link" href="{{ path(analysisRoute, { slug: molecule.slug }) }}">
                            {{ molecule.label }}
                        </a>
                    {% endfor %}
                </div>
            </li>

            <li class="site-nav__item">
                <a class="site-nav__link" href="{{ path('app_faq') }}">FAQ</a>
            </li>

            <li class="site-nav__item site-nav__item--theme">
                <label class="theme-switcher">
                    <span class="theme-switcher__label">Thème</span>
                    <select class="theme-switcher__select" data-theme-picker>
                        <option value="navy">Navy</option>
                        <option value="nocturne">Nocturne</option>
                        <option value="neon">Néon</option>
                    </select>
                </label>
            </li>
        </ul>
    </div>
</nav>
