<div class="chart-wrapper">
    <div class="chart-wrapper__canvas">
        <canvas id="{{ id }}" class="chart-canvas" width="400" height="400"></canvas>
    </div>
</div>
 
<script>
    (function() {

        const data = {{ chart_data | raw }};
        const mode = '{{mode}}'
        let y_axis_label = ''
        if (mode === 'absolu'){y_axis_label="Nombre d'échantillons"}
        if (mode === 'relatif'){y_axis_label='Proportion (%)'}

        data.datasets_area.forEach((dataset, i) => {
            dataset.borderColor = Chart.defaults.colorPalette[i % Chart.defaults.colorPalette.length];

            if ('{{is_stacked}}' === 'true') {
                dataset.backgroundColor = Chart.defaults.colorPalette[i % Chart.defaults.colorPalette.length];
            } else {
                dataset.backgroundColor = '#00000000';
            }

        });

        new Chart(document.getElementById('{{ id }}').getContext('2d'), {
            type: 'line',
            data: {
                labels: data.labels_area,
                datasets: data.datasets_area
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                        title: {
                            display: true,
                            text: 'Période'
                        }
                    },
                    y: {
                        stacked: '{{ is_stacked }}' === 'true',
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: y_axis_label
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true
                    }
                },
                pointStyle: false,
            }
        });

    })();
</script>
