<div class="map-container">
    <div
        id="{{ id }}"
        class="map"
        data-chart="{{ chart_data|json_encode|e('html_attr') }}"
        data-colors="{{ color_data|json_encode|e('html_attr') }}"
        data-options="{{ options|json_encode|e('html_attr') }}"
    >
    </div>
</div>

<script type="module">
    initLeafletMap('{{ id }}');
</script>
