{% set table_value_heading = mode == 'absolu' ? "Nombre d'échantillons" : 'Proportion (%)' %}
<div class="chart-wrapper">
    <div class="chart-wrapper__canvas">
        <canvas id="{{ id }}" class="chart-canvas"></canvas>
    </div>
    {% include "components/charts/chart_data_table.html.twig" with {
        chart_id: id,
        chart_data_json: chart_data,
        table_config: {
            type: 'timeseries',
            labelsKey: 'labels_area',
            datasetsKey: 'datasets_area',
            labelHeading: 'Période',
            datasetHeading: 'Catégorie',
            valueHeading: table_value_heading
        }
    } %}
</div>
 
<script>
    (function() {

        const data = {{ chart_data | raw }};
        const mode = '{{mode}}'
        const y_axis_label = '{{ table_value_heading|e('js') }}';

        data.datasets_area.forEach((dataset, i) => {
            dataset.borderColor = Chart.defaults.colorPalette[i % Chart.defaults.colorPalette.length];

            if ('{{is_stacked}}' === 'true') {
                dataset.backgroundColor = Chart.defaults.colorPalette[i % Chart.defaults.colorPalette.length] + 'BB';
            } else {
                dataset.backgroundColor = '#00000000';
            }

        });

        new Chart(document.getElementById('{{ id }}').getContext('2d'), {
            type: 'line',
            data: {
                labels: data.labels_area,
                datasets: data.datasets_area
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        stacked: true,
                        title: {
                            display: true,
                            text: 'Période'
                        }
                    },
                    y: {
                        stacked: '{{ is_stacked }}' === 'true',
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: y_axis_label
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        align: 'start',
                        labels: {
                            usePointStyle: true,
                            pointStyle: 'circle',
                            boxWidth: 12,
                            boxHeight: 12,
                            padding: 10,
                            font: {
                                size: 11
                            }
                        }
                    }
                },
                pointStyle: false,
            }
        });

    })();
</script>
